<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

  <title>File: Syckfile [Paramix]</title>

  <link rel="SHORTCUT ICON" href="../assets/icon/file.png">

  <link type="text/css" rel="stylesheet" href="../assets/rdoc.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="../assets/highlight/styles/github.css" title="GitHub" />

  <script type="text/javascript" charset="utf-8" src="../assets/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="../assets/highlight/highlight.pack.js"></script>
  <script type="text/javascript" charset="utf-8" src="../assets/quicksearch.js"></script>
  <script type="text/javascript" charset="utf-8" src="../assets/main.js"></script>

  <script type="text/javascript">
    $(document).ready( function() {
      hookHighlightSyntax();
	    hookSourceViews();
	    hookDebuggingToggle();
	    hookQuickSearch();
	    highlightLocationTarget();

	    $('ul.link-list a').bind("click", highlightClickTarget);
    });
  </script>
</head>

<body class="file"> <!-- .file-popup is no more -->
<div id="main">

  <div class="head">
    <h1>
      <img src="../assets/icon/file.png" align="absmiddle">&nbsp;
      <a href="../index.html">Paramix</a>&nbsp;
      <a href="/">Syckfile</a>
    </h1>
  </div>

  <div id="metadata">
    <div id="file-stats-section" class="section">
      <h3 class="section-header">File Stats</h3>
      <dl>
        <dt class="modified-date">Last Modified</dt>
        <dd class="modified-date">Sun Apr 04 00:54:22 -0400 2010</dd>

        

        
      </dl>
    </div>

    <div id="project-metadata">
      
      
      <div id="fileindex-section" class="section project-section">
        <h3 class="section-header">Information</h3>
        <ul>
        
          <li class="file"><a href="../files/HISTORY.html">HISTORY</a></li>
        
          <li class="file"><a href="../files/Syckfile.html">Syckfile</a></li>
        
          <li class="file"><a href="../files/LICENSE.html">LICENSE</a></li>
        
          <li class="file"><a href="../files/README_rdoc.html">README.rdoc</a></li>
        
        </ul>
      </div>
      

      <div id="classindex-section" class="section project-section">
        <h3 class="section-header">Class Index
          <span class="search-toggle"><img src="../assets/icon/find.png"
            height="16" width="16" alt="[+]"
            title="show/hide quicksearch" /></span></h3>
        <form action="#" method="get" accept-charset="utf-8" class="initially-hidden">
        <fieldset>
          <legend>Quicksearch</legend>
          <input type="text" name="quicksearch" value=""
            class="quicksearch-field" />
        </fieldset>
        </form>

        <ul class="link-list">
        
          <li class="module"><a href="../classes/Paramix.html">Paramix</a></li>
        
          <li class="module"><a href="../classes/Paramix/ClassMethods.html">Paramix::ClassMethods</a></li>
        
          <li class="class"><a href="../classes/Paramix/Proxy.html">Paramix::Proxy</a></li>
        
          <li class="module"><a href="../classes/Paramix/Proxy/ClassParameterize.html">Paramix::Proxy::ClassParameterize</a></li>
        
          <li class="module"><a href="../classes/Paramix/Proxy/InstanceParameterize.html">Paramix::Proxy::InstanceParameterize</a></li>
        
          <li class="module"><a href="../classes/Kernel.html">Kernel</a></li>
        
          <li class="class"><a href="../classes/Module.html">Module</a></li>
        
        </ul>
        <div id="no-class-search-results" style="display: none;">No matching classes.</div>
      </div>

      <!-- METHODS -->
      <div id="methodindex-section" class="section project-section">
        <h3 class="section-header">Method Index</h3>
        <ul>
          
            
            <li class="singleton" style="clear: both;">
              <span class="method-parent-aside">Paramix</span>
              <a href="classes/Paramix.html#M000000">::included</a>
            </li>
          
            
            <li class="singleton" style="clear: both;">
              <span class="method-parent-aside">Paramix::Proxy</span>
              <a href="classes/Paramix/Proxy.html#M000003">::new</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Paramix::ClassMethods</span>
              <a href="classes/Paramix/ClassMethods.html#M000001">#[]</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Paramix::Proxy</span>
              <a href="classes/Paramix/Proxy.html#M000004">#append_features</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Paramix::Proxy</span>
              <a href="classes/Paramix/Proxy.html#M000005">#extend_object</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Paramix::ClassMethods</span>
              <a href="classes/Paramix/ClassMethods.html#M000002">#included</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Kernel</span>
              <a href="classes/Kernel.html#M000010">#meta_class</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Paramix::Proxy::InstanceParameterize</span>
              <a href="classes/Paramix/Proxy/InstanceParameterize.html#M000006">#mixin_param</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Paramix::Proxy::ClassParameterize</span>
              <a href="classes/Paramix/Proxy/ClassParameterize.html#M000007">#mixin_param</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Module</span>
              <a href="classes/Module.html#M000008">#mixin_parameters</a>
            </li>
          
            
            <li class="method" style="clear: both;">
              <span class="method-parent-aside">Module</span>
              <a href="classes/Module.html#M000009">#mixin_params</a>
            </li>
          
        </ul>
      </div>
    </div>

    <div id="validator-badges">
      
      <div style="float: right; margin-right: 5px;">
        <a href="http://validator.w3.org/check/referer"><img src="../assets/icon/check.png" alt="[Validate]" height="16" width="16" /></a>
      </div>
      Generated with <a href="http://proutils.github.com/webri">WebRI Redfish</a> 1.2
      <br/><br/>
    </div>
  </div>

  <!-- .file-popup was wrapped:
    <div id="documentation">
      
      <div class="description">
          ... file.description ...
      </div>
      
    </div>
   So maybe that css is no longer needed.
   -->

  <div id="documentation">
    <hr size="1"></hr><p>
announce:
</p>
<pre>
  service : Email
  file    : ~
  subject : ~
  mailto  : ruby-talk@ruby-lang.org
  active  : true
</pre>
<p>
box:
</p>
<pre>
  service: Box
  active : true
  types  : [gem, tar]
  include: [bin, demo, lib, meta, test, &quot;[A-Z]*&quot;]
  exclude: ~
</pre>
<p>
rdoc:
</p>
<pre>
  service  : RDoc
  template : redfish
  include  : ~
  exclude  : ~
  main     : ~
  extra    : ~
  active   : true
</pre>
<p>
ridoc:
</p>
<pre>
  service: RIDoc
  include: ~
  exclude: ~
  active : true
</pre>
<p>
notes:
</p>
<pre>
  service  : DNotes
  loadpath : ~
  labels   : ~
  output   : ~
  format   : ~
  active   : false
</pre>
<p>
stats:
</p>
<pre>
  service  : Stats
  title    : ~
  loadpath : ~
  exclude  : ~
  output   : ~
  active   : true
</pre>
<p>
testrb:
</p>
<pre>
  service  : testrb
  tests    : ~
  exclude  : ~
  loadpath : ~
  requires : ~
  live     : false
  active   : true
</pre>
<p>
syntax:
</p>
<pre>
  service  : Syntax
  loadpath : ~
  exclude  : ~
  active   : false
</pre>
<p>
vclog:
</p>
<pre>
  service  : VClog
  format   : html   # xml, txt
  layout   : rel    # gnu
  typed    : false
  output   : ~
  active   : false
</pre>
<p>
rubyforge: # service : Rubyforge # unixname: <%= project %> # groupid : ~ #
package : <%= package %> # sitemap: # doc/rdoc: <%= package %> # active :
false
</p>

  </div>

</div>
</body>
</html>

